# Ignorar diretório node_modules
node_modules/

# Ignorar arquivo .env
.env

# Ignorar arquivos de log
*.log

# Ignorar arquivos de backup criados por editores de texto
*~

# Ignorar arquivos e pastas específicos da IDE/Editor
.vscode/
.idea/



# Ignorar arquivos gerados durante a execução do projeto
/dist
/build



# Ignorar arquivos de configuração local
config/config.local.js
