.button-rounded{
    background-color: #db5461;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    width: 50px;
    height: 50px;
}