.Button {
  position: relative;
  width: 364px;
  height: 60px;
  border:none;
  top: 35px;
  cursor: pointer;
  
  background: rgba(101, 220, 199, 0.8);
  border-radius: 100px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;

  color: rgba(2, 2, 2, 0.7);
}

Button:hover {
  background: rgba(56, 167, 177, 0.8);
  transition: all 400ms ease;
}

Button:active {
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  transform: translateY(4px);

}

