@import '../../styles/break-points.scss';
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 3rem;
  background: #65dcc7cc;
  border-radius: 100px;
  color: #020202b3;

  .btn {
    height: 3rem;
    width: 100%;
    background-color: transparent;
    border: 0;
    outline: none;
    font-size: 1rem;
    text-transform: uppercase;
  }

  .icon {
    position: relative;
    left: 1.5rem;
  }
}

@include tablet {
  .container {
    align-self: center;
    max-width: 300px;
    width: 50%;
  }

  .icon {
    display: none;
  }
}
