// ------------------ Variables ------------------ //

$tablet-size: 481px;
$laptop-size: 769px;
$desktop-size: 1025px;
$desktop-large-size: 1201px;

$color-backgound : #cccccc;
$color-subTexts : #b3b3b3;

// ------------------ Responsive ------------------ //

@mixin tablet {
  @media screen and (min-width: #{$tablet-size}) {
    @content;
  }
}

@mixin laptop {
  @media screen and (min-width: #{$laptop-size}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: #{$desktop-size}) {
    @content;
  }
}

@mixin desktop-large {
  @media screen and (min-width: #{$desktop-large-size}) {
    @content;
  }
}

// ------------------ Tools ------------------ //

@mixin Modal {
  position : absolute;
  display : flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;

  width : 100%;
  height : 110%;
  top : 0;
  left : 0;

  background-color: $color-backgound;

  img {
    width : 50px;
    position : absolute;

    top : 15px;
    left : 5vw;
  }
}

