$tablet-size: 481px;
$laptop-size: 769px;
$desktop-size: 1025px;
$desktop-large-size: 1201px;

@mixin tablet {
  @media screen and (min-width: #{$tablet-size}) {
    @content;
  }
}

@mixin laptop {
  @media screen and (min-width: #{$laptop-size}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: #{$desktop-size}) {
    @content;
  }
}

@mixin desktop-large {
  @media screen and (min-width: #{$desktop-large-size}) {
    @content;
  }
}
