.container {
  width: 76%;
  min-height: 100vh;
  background-color: #fafafa;
  position: fixed;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;

  .wrapper {
    width: 60vw;
    background-color: rgb(245, 245, 245);
    padding: 10px 50px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;

    h1 {
      font-size: clamp(1rem, 2.5vw, 2rem);
    }
  }
}

.close {
  cursor: pointer;
  position: absolute;
  top: 6px;
  left: 21px;
}

.item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.label {
  margin-bottom: 0.2rem;
  font-size: 1rem;
  font-weight: 500;
}

.input {
  border: none;
  outline: none;
  border-radius: 1rem;
  padding: 0.5rem;
}

.addButton {
  width: 25%;
  border: none;
  background-color: teal;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  padding: 5px 0;
  align-self: flex-end;
}
