// Colors

$lightGrey: rgba(229, 229, 229, 1);
$lightBlue: rgba(101, 220, 199, 0.3);
$lightBlueHover: rgba(149, 223, 209, 0.8);
$blue: rgba(101, 220, 199, 0.8);
$grey: rgba(2, 2, 2, 0.7);
$white: rgba(255, 255, 255, 0.7);
$black: rgba(0, 0, 0, 0);