@import '../../styles/break-points.scss';

.Container {
  padding: 1rem 2rem;

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}

.NotesContainer {
  padding: 1rem 2rem;

  .NotesHeader {
    h3 {
      font-family: inherit;
      font-size: 12px;
      line-height: 14px;
      font-weight: 400;
      color: #464646;
      margin: 0;
      margin-left: 1.5rem;
      margin-bottom: 1rem;
    }
  }
  
  .NotesContent {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;

    @include laptop {
      grid-template-columns: repeat(2, 1fr);
    }

    @include desktop {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}


.NoTasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 350px;
  gap: 1rem;
  grid-column: 2;
  position: relative;


  .Anim {
    position: absolute;
    top: 50%;
  }

  h3 {
    font-family: inherit;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #464646;
    margin: 0;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
  }
}