.background-dark{
    background-color: #3f3f3f;
    padding: 30px 0;
    margin: 30px 0;
    p{
        color: #f4f4f4;
        margin: 0;
    }
}

.back-light{
    background-color: transparent;
    color: #f4f4f4;
}
