@use "../../styles/variables" as v;
@use "../../styles/mixins" as mixin;

.card {
    background-color: #969696;
    color: v.$white;
    flex: 1 1 250px;

    &__header {
        display: flex;
        justify-content: end;
        padding: 1rem;

        button {
            border: none;
            background-color: transparent;
            cursor: pointer;
        }
    }

    &__content {
        padding: 1rem 2rem;
        text-align: left;

        h2 {
            text-transform: uppercase;
            margin-bottom: .5rem;
            font-weight: 600;
        }

        p {
            margin-bottom: .5rem;
        }
    }
}
