@import '../../styles/break-points.scss';

.Header {
  display: flex;
  background-color: white;
  padding: 0.8rem;
  align-items: center;
  column-gap: 0.4rem;
  box-shadow: #959595 1px 0px 7px;

  img {
    width: 2rem;
  }

  div {
    margin-left: auto;
  }
}

.CoreNotes {
  font-size: 0.7rem;
  color: #455a64;
}

@include laptop {
  .Header {
    padding: 1rem 4rem;
    column-gap: 1.5rem;
  }
}
