@import '../../styles/break-points.scss';

nav {
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
    border-bottom:  1px solid rgba(0, 0, 0, 0.151);
    border-top:  1px solid rgba(0, 0, 0, 0.151);
    box-shadow: 1px 1px 1px  rgba(0, 0, 0, 0.151);
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: color 0.15s ease, border-color 0.15s ease;
    &:hover,
    &:focus,
    &:active {
      color: #0070f3;
      border-color: #0070f3;
    }

    h3{
      cursor: pointer;
    }

    ul{
      line-height: 18px;
    }

    ul li {
        list-style-type: none;
        display: inline-block;
        margin-right: 10px;
    }
    
    ul li a {
        font-size: 30px;
        color: black;
        text-decoration: none;
        font-weight: bold;
        transition: color 0.15s ease, border-color 0.15s ease;
    
        &:hover,
        &:focus,
        &:active {
          color: #0070f3;
          border-color: #0070f3;
        }
    
    }

    
  @include tablet {

  }

  @include laptop {

  }

  @include desktop {

  }

  @include desktop-large {

  }


}
