.modal {
  display: grid;
  height: 100vh;
  background: #e5e5e5;
  width: 100vw;
  position: absolute;
  top: -90px;

  .box {
    position: absolute;
    width: 306px;
    height: 622px;
    top: 58px;
    left: 52px;
    background: #ffffffb3;

    .centerBox {
      display: grid;
      justify-content: center;
      margin-top: 76px;
      gap: 19px;

      .inputLabel {
        font-family: Inter;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        padding-left: 20px;
      }

      .inputComponent {
        border: solid 1px #020202cc;
        border-radius: 100px;
        width: 240px;
        height: 38px;
        background: #fff;
      }
    }
  }
  .priceFilter {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    margin-top: 20px;
    gap: 15px;

    .labelPrice {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #000000;
      padding-left: 10px;
    }

    .inputPrice {
      width: 112px;
      height: 21px;
      background: #ffffff;
      border-radius: 100px;
      border: 1px solid rgba(2, 2, 2, 0.8);
    }
  }
  .saveContainer {
    display: grid;
    height: 100px;
    place-items: end;
    padding: 10px;
  }
}
