.form-container {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(145, 154, 150, 0.3);
    backdrop-filter: blur(4px);
    z-index: 2;
}
.form-modal-register {
    width: 60rem;
    height: 70rem;
    background: white;
    
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius:30px;
}
.form-modal-register h2 {
     margin-top: 5rem;
}
.form-modal-register label {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    gap: 3px;
}
.form-modal-register input {
    width: 40rem;
    height: 5rem;
}
.btn-close {
    position: absolute;
    margin: 1.5rem 0 0 1.5rem;
    cursor: pointer;
}