@import "../../styles/break-points.scss";

.Nota {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  border: 1px solid #d9d9d9;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.25);
  align-items: center;
  max-width: 389.741px;
  min-width: 389.741px;
  width: 100%;
  height: 437.365px;
  margin-bottom: 52px;

  .legal {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  .conteiner2 {
    display: flex;
    border-bottom: 1px solid #fff;
    align-items: center;
    width: 100%;
    height: 39px;

    .fav {
      right: 0;
      border: 0cm;
      background-color: transparent;
      padding: 13px 19px 8px 0px;
      cursor: pointer;
    }
    .title,
    .title::placeholder {
      color: #333;
      font-family: Inter;
      font-size: 0.8875rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      opacity: 1;
      border: 0;
      width: 100%;
      background-color: transparent;
      padding: 13px 0px 13px 23px;
      &:focus {
        outline: none;
      }
    }
  }

  .conteiner {
    display: flex;
    border-bottom: 1px solid #d9d9d9;
    align-items: center;
    width: 100%;
    height: 39px;

    .fav {
      right: 0;
      border: 0cm;
      background-color: transparent;
      padding: 13px 19px 8px 0px;
      cursor: pointer;
    }
    .title,
    .title::placeholder {
      color: #333;
      font-family: Inter;
      font-size: 0.8875rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      opacity: 1;
      border: 0;
      width: 100%;
      background-color: transparent;
      padding: 13px 0px 13px 23px;
      &:focus {
        outline: none;
      }
    }
  }

  .criarnota {
    scrollbar-color: transparent transparent;
    box-sizing: border-box;
    resize: none;
    opacity: 1;
    color: #50656e;
    font-family: Inter;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    padding: 14px 39px 37px 22px;
    &::-webkit-scrollbar-thumb {
      background-color: transparent;
    }
    &:focus {
      outline: none;
    }
  }

  .bar {
    display: flex;
    width: 100%;
    margin-bottom: 11px;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
    bottom: 0;

    .subbar {
      display: flex;
      align-items: center;

      .editB {
        margin-left: 20px;
        display: flex;
        align-items: center;
        border-radius: 50%;
        overflow: hidden;
        width: 28.901px;
        height: 28.901px;
        .edit {
          position: absolute;
          width: 24px;
          height: 24px;
        }
      }
      .colorB {
        margin-left: 4px;
        display: flex;
        align-items: center;
        border-radius: 50%;
        overflow: hidden;
        width: 28.901px;
        height: 28.901px;
        .color {
          position: absolute;
          width: 18.003px;
          height: 17px;
          padding: 5px 3px 6px 3px;
        }
      }
    }
    .closeB {
      position: absolute;
      margin-right: 17px;
      border-radius: 50%;
      overflow: hidden;
      width: 28.901px;
      height: 28.901px;
      right: 0;
      .close {
        position: absolute;
        width: 13.142px;
        height: 13.142px;
        margin-left: 4px;
      }
    }
    .corselect {
      position: absolute;
      bottom: -104px;
      left: 37px;
      z-index: 1;
    }
  }
  .buttonContainer {
    pointer-events: auto;
  }

  @include tablet {
  }

  @include laptop {
    .corselect {
      bottom: -53px !important;
      left: 40px;
    }
  }

  @include desktop {
  }

  @include desktop-large {
  }
}
