.Search {
  width: 323px;
  height: 60px;
  left: 24px;
  top: 90px;
  border-radius: 100px;
  border: none;
  background-color: rgba(101, 220, 199, 0.3);
  padding: 21px 176px 15px 82px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  box-sizing: border-box;
  color: rgba(2, 2, 2, 1);
  background-image: url("./assets/search.svg");
  background-repeat: no-repeat;
  background-position-x: 9%;
  background-position-y: center;
}
