@import '../../styles/break-points.scss';

.Modal {
    @include Modal;

    form {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top : 150px;
        }

        @mixin buttonsAndInpts {
            margin : 10px;
            padding : 15px;
            width : 70vw;
            max-width: 400px;
            
            border-radius: 25px;
            border : none;
        
            &::placeholder {
                text-align: center;
            }
        }

        input {
            @include buttonsAndInpts()
        }

        button {
            @include buttonsAndInpts();
            margin-bottom : 20px;
        }
        
    }


