@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

#root {
  isolation: isolate;
}

:root,
body {
  height: 100%;
  scroll-behavior: smooth;
  line-height: calc(1em + 0.5rem);
  -webkit-font-smoothing: antialiased;
  font-family: "Inter", sans-serif;
  background-color: #e5e5e5;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: "border-box";
}

ul,
ol,
menu {
  list-style: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a,
button {
  cursor: pointer;
}

img {
  max-width: 100%;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

input,
button,
textarea,
select {
  font: inherit;
}

::placeholder {
  color: unset;
}

table {
  border-collapse: collapse;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly. */
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  /* -webkit-line-break: after-white-space; */
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}
