@import '../../styles/break-points.scss';


.EditModal {
   @include Modal;



   input {
      @include Input;
   }

   button {
      @include Button;
   }

   form, form h3 {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
}


