@import "../../styles/break-points.scss";

.Vehicles {
  display: flex;
  padding: 1rem 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  header {
    display: grid;
    gap: 1rem;
    width: 100%;
  }
  .main {
    width: 100%;
  }
  .cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @include tablet {
    .cards {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  }

  @include laptop {
    .buttonAddDiv {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    .buttonAdd {
      width: 25%;
    }
    .cards {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
    }
  }

  @include desktop {
  }

  @include desktop-large {
  }
}
