@import "../../styles/break-points.scss";

.Vehicles {
  padding: 1rem 2rem;

  .main {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .Header {
    display: flex;
    align-items: center;
    justify-content: center;

    input {
      margin-right: 10px;
    }
  }

  @include tablet {
  }

  @include laptop {
  }

  @include desktop {
  }

  @include desktop-large {
  }
}
