@import '../../styles/break-points.scss';

.Vehicles {
  display: grid;
  padding: 1rem 2rem;

  .main {
    display: grid;
    gap: 1rem;
    width: 100%;
  }

  @include tablet {

  }

  @include laptop {

  }

  @include desktop {

  }

  @include desktop-large {

  }
}
